*~
.settings
.buildpath
.project
.idea/
node_modules/
vendor/
composer.lock
build/build*/
data/browscap-ua-test-*/
data/browser/*
!data/browser/.gitkeep
data/cache/*/*
!data/cache/browscap/.gitkeep
!data/cache/browser/.gitkeep
!data/cache/matomo/.gitkeep
!data/cache/uaparser/.gitkeep
!data/cache/uasparser/.gitkeep
!data/cache/.gitkeep
data/results/*
!data/results/.gitkeep
!data/useragents/
error.log
resources/browscap-*/
log/*
!log/.gitkeep
ergebnis.txt
package-lock.json
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
infection-*.log
