*~
.settings
.buildpath
.project
.idea/
vendor/
composer.phar
composer.lock
build/build*/
data/browscap-ua-test-*/
data/browser/*
!data/browser/.gitkeep
data/cache/*/*
!data/cache/browscap2/.gitkeep
!data/cache/browscap3/.gitkeep
!data/cache/browser/.gitkeep
!data/cache/crossjoin/.gitkeep
!data/cache/piwik/.gitkeep
!data/cache/uaparser/.gitkeep
!data/cache/uasparser/.gitkeep
!data/cache/wurfl/.gitkeep
!data/cache/wurfl_old/.gitkeep
!data/cache/.gitkeep
data/results/*
!data/results/.gitkeep
!data/useragents/
error.log
resources/browscap-*/
