parameters:
  level: max

  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0

  paths:
    - src
    - tests

  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php

  checkAlwaysTrueCheckTypeFunctionCall: true
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkBenevolentUnionTypes: true
  checkDynamicProperties: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkGenericClassInNonGenericObjectType: false
  checkImplicitMixed: true
  checkInternalClassCaseSensitivity: true
  checkMissingCallableSignature: true
  checkMissingIterableValueType: false
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  inferPrivatePropertyTypeFromConstructor: true
  polluteScopeWithAlwaysIterableForeach: false
  polluteScopeWithLoopInitialAssignments: false
# reportAlwaysTrueInLastCondition: true
  reportMaybesInMethodSignatures: false
  reportMaybesInPropertyPhpDocTypes: true
  reportStaticMethodSignatures: true
# reportWrongPhpDocTypeInVarTag: true
  treatPhpDocTypesAsCertain: false

  tipsOfTheDay: false

  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

  ignoreErrors:
    - '~Parameter #1 \$headers of method BrowserDetector\\Detector::__invoke\(\) expects array<string, string>\|Psr\\Http\\Message\\MessageInterface\|string\|UaRequest\\GenericRequestInterface, stdClass given~'
    - '~Parameter #1 \$message of method Psr\\Log\\LoggerInterface::.* expects string, .*Exception given~'
    - '~is not subtype of Throwable~'
    - '~Call to deprecated method getBrowser\(\) of class BrowserDetector\\Detector~'
